.wrapper {
    width: 90vw;
    margin: 8vh auto;
}
h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 2vh; 
}
input[type='radio'] {
    display: none;
}
.article {
    display: block;
    border-top: 0.2rem solid rgb(221, 221, 221) ;
    padding: 2vh 0;
}

.wrap-text {
    display: flex;
    justify-content: space-between; 
}
h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: center;
    font-size: 0.8rem;
    font-weight: 100;
}
.wrap-svg{
    width: 2rem;
    height: 2rem;
    transform: rotate(45deg);  
}
.wrap-img {
    width: 50vw;
    margin: 2vh auto;   
}
img {
    width: 100%;  
}
.img_1, .img_2, .img_3, .img_4, .img_5, .img_6 {
    display:none; 
}

#radio_1:checked ~ .wrap-articles .article .img_1,
#radio_2:checked ~ .wrap-articles .article .img_2,
#radio_3:checked ~ .wrap-articles .article .img_3,
#radio_4:checked ~ .wrap-articles .article .img_4,
#radio_5:checked ~ .wrap-articles .article .img_5,
#radio_6:checked ~ .wrap-articles .article .img_6 {
    display: block;
    animation-duration: .5s;
    animation-name: hiddenImg; 
}

#radio_1:checked ~ .wrap-articles .article .wrap-text .svg_1,
#radio_2:checked ~ .wrap-articles .article .wrap-text .svg_2,
#radio_3:checked ~ .wrap-articles .article .wrap-text .svg_3,
#radio_4:checked ~ .wrap-articles .article .wrap-text .svg_4,
#radio_5:checked ~ .wrap-articles .article .wrap-text .svg_5,
#radio_6:checked ~ .wrap-articles .article .wrap-text .svg_6 {
    transform: rotate(0deg);
    transition: all .5s;
}

@keyframes hiddenImg {
    from {
      width: 40vw;
      filter: opacity(0%);
    }
  
    to {
      width: 50vw;
      filter:opacity(100%)
    }
}

@media (min-width: 321px) { 

    h1 {
        font-size: 2.2rem;  
    }
    h2 {
        font-size: 0.9rem;
        font-weight: 200;
    }
}

@media (min-width: 821px) { 
    h1 {
        font-size: 2.5rem;  
    }
    h2 {
        font-size: 2rem;
        font-weight: 900;
    }
}

@media (min-width: 1921px) { 
    .wrapper {
        width: 108rem;
    }
    .wrap-img {
        width: 60rem;
    }
}

